<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TripTop | Home</title>



    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Footer Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">


    <!-- Main CSS and JS Files -->
    <link href="../../static/triptop/css/preloader.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <link href="../../static/triptop/css/main.css" rel="stylesheet">
    <link href="../../static/triptop/css/base.css" rel="stylesheet">
    <link href="../../static/triptop/css/style.css" rel="stylesheet">
    <link href="../../static/triptop/css/bootstrap-select.min.css" rel="stylesheet">


      <script type="text/javascript" src="../../static/triptop/js/jquery.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/ipgetandset.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/modernizr.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/bootstrap.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/bootstrap-select.min.js"></script>






      <script type="text/javascript">
            $(document).ajaxSend(function(event, request, settings) {
                $('#loading-indicator').show();
            });

            $(document).ajaxComplete(function(event, request, settings) {
                $('#loading-indicator').hide();
            });

            $('.body').css({'padding-right':'0px'});
      </script>

  </head>



  <header>
      <nav class="navbar navbar-inverse">

        <div class="navbar-header">

            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">

                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>

            <a href="#"><img class="navbar-brand" id="currentPhoto" src="../../static/triptop/img/TripTopLogo.png" width="170.25em" height="36.75em"></a>

        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">

                <li class="active"><a href="">Home</a></li>

                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">About<b class="caret"></b></a>

                    <ul class="dropdown-menu">

                        <li><a href="#">About TripTop</a></li>

                        <li><a href="#">Our Team</a></li>

                        <li><a href="#">Contact Us</a></li>

                    </ul>

                </li>

                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Forum <b class="caret"></b></a>

                    <ul class="dropdown-menu">

                        <li><a href="#">New Post</a></li>

                        <li><a href="#">My Posts</a></li>

                        <li><a href="#">Subscribed Threads</a></li>

                        <li><a href="#">Invite A Friend</a></li>

                    </ul>

                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a href="login">Login</a></li>

                <li><a href="#">Sign Up</a></li>

                <li class="dropdown">

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">My Profile<b class="caret"></b></a>

                        <ul class="dropdown-menu">

                            <li><a href="#">My Saved Itineraries</a></li>

                            <li><a href="#">"The Perfect Itinerary" Quiz</a></li>

                            <li><a href="#">Random Itinerary Generator</a></li>

                            <li><a href="#">Account Settings</a></li>

                            <li><a href="#">Sign Out</a></li>

                        </ul>

                </li>

            </ul>




        </div>

          <script>

                $('.navbar').css({'margin-bottom':'0px','background' : '#333','border-color':'#000'})

          </script>

    </nav>



  </header>

  <body></body>

  <div class="container-fluid">
      <div id="firstSlider" class="carousel slide">

              <!-- Indicators dot nav -->

              <ol class = "carousel-indicators">
                  <li data-target="#firstSlider" data-slide-to="0" class="active"></li>
                  <li data-target="#firstSlider" data-slide-to="1"></li>
                  <li data-target="#firstSlider" data-slide-to="2"></li>
                  <li data-target="#firstSlider" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">

                  <div class="item active">
                      <img src="../../static/triptop/img/Carousel1_1.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Planning A Trip</h1>
                          <h1>Has Never Been Easier</h1>
                          <button id="triptime1" class="btn-lg btn-primary">Get Started</button>
                      </div>
                  </div>

                  <div class="item">
                      <img src="../../static/triptop/img/Carousel1_2.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Start Building Your</h1>
                          <h1>Perfect Itinerary Below</h1>
                          <button id="triptime2" class="bigcaret"><span id="carouselcaret" class="glyphicon glyphicon-chevron-down"></span></button>
                      </div>
                  </div>

                  <div class="item">
                      <img src="../../static/triptop/img/Carousel1_3.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Sign Up Now</h1>
                          <h1>To Save And Share Your Itineraries</h1>
                          <button class="btn-lg btn-primary">Create A TripTop Account</button>
                      </div>
                  </div>

                  <div class="item">
                      <img src="../../static/triptop/img/Carousel1_4.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Take Our</h1>
                          <h1>"Perfect Itinerary" Quiz!</h1>
                          <button class="btn-lg btn-primary">Take The Quiz!</button>
                      </div>
                  </div>


              </div>


              <!-- Navigation (next and prev buttons) -->

              <a class="carousel-control left" href="#firstSlider" role="button" data-slide="prev">
                <span class="icon-prev"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control right" href="#firstSlider" role="button" data-slide="next">
                <span class="icon-next"></span>
                <span class="sr-only">Next</span>
              </a>



          </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script>

      $('.container-fluid').css({'padding-right':'0px','padding-left':'0px', 'border-bottom':'4.3em solid #333'});

      $('.carousel-caption').css({'color':'#fff','background':'rgba(10,10,10,.5)', 'padding':'4em 2em 1em 2em'});

      $('.carousel-caption h1').css({'font-size':'4rem','padding':'2rem .5rem 1rem .5rem'});

      if (matchMedia) {
          const mq1 = window.matchMedia('(min-width: 800px)');
          mq1.addListener(WidthChange);
          WidthChange(mq1);
        }

        // media query change
        function WidthChange(mq1) {
          if (mq1.matches) {
            $('.carousel-caption h1').show();
          } else {
            $('.carousel-caption h1').css({'font-size':'2rem','padding':'.1rem .05rem .1rem .05rem'});
          }

        }




      $('#carouselcaret').css({'margin-bottom':'1em','font-size':'3em'});

      $('.bigcaret').css({'background':'rgba(0,0,0,0)','border':'rgba(0,0,0,0)'});

      $('.btn-lg').css({'margin-bottom':'1em'});

      $('.carousel').carousel({
        interval: 6000
      });
      </script>


  </div>


      <main>

      <section class="module parallax parallax-1">
        <div class="container">
          <h1>Experience</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
            <h2>Pick A Flight</h2>
            <p>Start your personalized itinerary with the right flight, courtesy of <a href="https://www.google.com/flights/">Google Flights</a>.</p>

            <form>
                <div class="btn-group">
                      <button type="button" class="btn btn-primary">Roundtrip</button>
                      <button type="button" class="btn btn-primary">One Way</button>
                      <button type="button" class="btn btn-primary">Multi-City</button>
                </div>
             <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                            <!--<select class="selectpicker" data-live-search="true" multiple>-->
                              <!--<option>Mustard</option>-->
                              <!--<option>Ketchup</option>-->
                              <!--<option>Relish</option>-->
                            <!--</select>-->
                            <input class="form-control" placeholder="Where From?"
                                   type="text" id="inputOrigin" />
                            </td>
                            <td>
                             <!--<select class="selectpicker" data-live-search="true" multiple>-->
                              <!--<option>Mustard</option>-->
                              <!--<option>Ketchup</option>-->
                              <!--<option>Relish</option>-->
                            <!--</select>-->
                             <input class="form-control" placeholder="Where To?"
                                    type="text" id="inputDestination" />
                            </td>
                            <td>
                                <button class="btn btn-primary btn-info" type ="button" id ="getAirports">Get Airports</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="depdate" id="depdate" placeholder="When Will You Depart?"/>
                            </td>
                            <td>
                                <input type="text" name="retdate" id="retdate" placeholder="When Will You Return?"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                  <label for="sel1">Adults:</label>
                                  <select class="form-control" id="sel1">
                                      <option>0</option>
                                      <option class="active">1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="sel2">Children:</label>
                                  <select class="form-control" id="sel2">
                                      <option class="active">0</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                  </select>
                                </div>
                            </td>
                            <td>
                                <button type="button" id="findFlights" class="btn btn-primary btn-block" data-target="#flightsModal" data-toggle="modal">Get Flights</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="modal fade modal-content" id="flightsModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Choose A Flight</h4>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table id="flightsTable" class="table">
                                    <thead>
                                        <tr>
                                            <th id="labelrow">
                                                <label type="text">Price</label>
                                            </th>

                                            <th>
                                                <label type="text">Airline</label>
                                            </th>

                                            <th>
                                                <label type="text">Dates/Times</label>
                                            </th>

                                            <th>
                                                <label type="text">Duration</label>
                                            </th>

                                            <th>
                                                <label type="text">Stops</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="flight1">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight2">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight3">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight4">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight5">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight6">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight7">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight8">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight9">
                                            <td>
                                                <a href="itinBuilder.html" id="flight9price pricetag" value=""></a>
                                            </td>
                                            <td>
                                                <label id="flight9airline" value=""></label>
                                            </td>
                                            <td>
                                                <label id="flight9dates" value=""></label>
                                            </td>
                                            <td>
                                                <label id="flight9duration" value=""></label>
                                            </td>
                                            <td>
                                                <label id="flight9stops" value=""></label>
                                            </td>
                                        </tr>
                                        <tr id="flight10">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight11">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight13">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight14">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr id="flight15">
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>


      <section class="module parallax parallax-2">
        <div class="container">
          <h1>Adventure</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta cum distinctio eum asperiores rem enim fugit eaque voluptas est laboriosam in repudiandae architecto placeat, illum atque quasi explicabo, culpa, molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas, aperiam quae provident, recusandae rem quis. Ut quaerat, quasi iste voluptate et dolorem atque sed neque voluptates, molestias dolor enim!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odit tempore, quibusdam impedit deserunt. Natus quisquam, facilis numquam, molestias nesciunt modi, at debitis maxime sunt et quo quas labore perferendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde delectus laborum doloremque recusandae, debitis maxime a! Nihil distinctio ex, cumque tempore ea voluptas omnis odit, quaerat natus nam excepturi corporis!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eius harum atque unde nihil aut quam provident sunt, iste error vitae suscipit dolores cupiditate totam, eum quae alias! Dicta, nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate beatae impedit officia quis odit rerum sequi, explicabo commodi illum suscipit, tempore eum doloremque quae obcaecati tempora quidem neque sapiente modi?</p>
        </div>
      </section>

      <section class="module parallax parallax-3">
        <div class="container">
          <h1>Travel</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta cum distinctio eum asperiores rem enim fugit eaque voluptas est laboriosam in repudiandae architecto placeat, illum atque quasi explicabo, culpa, molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas, aperiam quae provident, recusandae rem quis. Ut quaerat, quasi iste voluptate et dolorem atque sed neque voluptates, molestias dolor enim!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odit tempore, quibusdam impedit deserunt. Natus quisquam, facilis numquam, molestias nesciunt modi, at debitis maxime sunt et quo quas labore perferendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde delectus laborum doloremque recusandae, debitis maxime a! Nihil distinctio ex, cumque tempore ea voluptas omnis odit, quaerat natus nam excepturi corporis!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eius harum atque unde nihil aut quam provident sunt, iste error vitae suscipit dolores cupiditate totam, eum quae alias! Dicta, nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate beatae impedit officia quis odit rerum sequi, explicabo commodi illum suscipit, tempore eum doloremque quae obcaecati tempora quidem neque sapiente modi?</p>
        </div>
      </section>

      <section class="module parallax parallax-4">
        <div class="container">
          <h1>Journey</h1>
        </div>
      </section>

      <!--Javascript for Datepicker-->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>

          <script>

              var $container = $('#flightsTable'),
              $scrollTo = $('#flight15');
              $('findFlights').click([],$container.scrollTop($scrollTo.offset().top - $container.offset().top + $container.scrollTop());


              $('#getAirports').click(
              function getListAirports() {
                  var orgString = $('#inputOrigin').val();
                  var desString = $('#inputDestination').val();

                  var myJson = JSON.stringify({"origin": orgString, "destination": desString});

                  var url = "https://oeij9npzf6.execute-api.us-east-2.amazonaws.com/test/airports"

                  $.ajax( {
                      type : 'POST',
                      url : url,
                      data : myJson,
                      success: function(results){
                           var origin = results.origin;
                           var destination = results.destination;
                           $('#inputOrigin').setValue(origin);
                           $('#inputDestination').setValue(destination);
                       },
                      contentType: 'application/json'


                   });
              });
              

              function getListFlights() {
                   var adultCount = $('#sel1').val();
                   var childCount = $('#sel2').val();
                   var org = '';  // Fill in from above choices
                   var des = '';
                   var depDate = $('#depdate').val();
                   var url = "http://dev.markitondemand.com/MODApis/Api/v2/Quote/jsonp?adultcount=" + adultCount + "&childcount=" + childCount + "&origin=" + org + "&destination=" + des + "&date=" + depDate +

                   $.ajax({
                       url: url,
                       dataType: 'jsonp',
                       success: function(results){
                           var price = results.Status;
                           var airline = results.Name;
                           $('#flight1').append(status + '. Company is: ' + company);
                       }
                   });
                };

              $('modal-content.h4').css({
                  'font-size':'1.6em','color':'#000','font-weight':'bold'
              });

              var ipAddress = "";
              var country = "";

              $.get("https://ipinfo.io", function(response) {
                  ipAddress = response.ip;
                  country = response.country;
                }, "jsonp");


              $(function(){
                   $('#depdate').datepicker({
                      format: 'mm/dd/yyyy'
                   });
                   $('#retdate').datepicker({
                       format: 'mm/dd/yyyy'
                   });
              });


          </script>

  </main>

      <img src="../../static/triptop/img/Preloader_3.gif" id="loading-indicator" style="display:none" />

      <!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="title mb-4 mt-3 font-bold">Team TripTop is happy you're here!</h5>
                <p>Please create an account so that we can share updates, special offers, and more with you!<br/><br/><br/>Happy Travels!</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold ">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <ul>
            <li>
                <h5 class="mb-1">Sign Up For Free!</h5>
            </li>
            <li><a href="" class="btn btn-primary btn-rounded">Create A TripTop Account</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
    <div class="social-section text-center">
        <ul>

            <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>

        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://mytriptop.com"> mytriptop.com </a>

        </div>
    </div>
    <!--/.Copyright-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

    <script>
        $('footer.page-footer').css({'margin-top':'0px'});

    </script>
</footer>
<!--/.Footer-->








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</html>