<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="234664784899-9me23pptcg31k36t15k4bbtjkqi60cbg.apps.googleusercontent.com">
    <title>TripTop | Home</title>

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <!-- Footer Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">


    <!-- Main CSS and JS Files -->
    <link href="../../static/triptop/css/preloader.css" rel="stylesheet">
    <link href="../../static/triptop/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <link href="../../static/triptop/css/main.css" rel="stylesheet">
    <link href="../../static/triptop/css/base.css" rel="stylesheet">
    <link href="../../static/triptop/css/style.css" rel="stylesheet">

      <script type="text/javascript" src="../../static/triptop/js/jquery.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/popper.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/bootstrap.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/bootstrap-select.min.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/ipgetandset.js"></script>
      <script type="text/javascript" src="../../static/triptop/js/modernizr.js"></script>
      <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>



      <!--Index.html JavaScript-->
      <script type="text/javascript" src="../../static/triptop/js/main.js"></script>








  </head>



  <header id="header">
      <nav class="navbar navbar-inverse">

        <div class="navbar-header">

            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">

                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>

            <a href="index.html"><img class="navbar-brand" id="currentPhoto" src="../../static/triptop/img/TripTopLogo.png" width="170.25em" height="36.75em"></a>

        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">

                <li class="active"><a href="index.html">Home</a></li>

                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">About<b class="caret"></b></a>

                    <ul class="dropdown-menu">

                        <li><a href="#">About TripTop</a></li>

                        <li><a href="#">Our Team</a></li>

                        <li><a href="#">Contact Us</a></li>

                    </ul>

                </li>

                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Forum <b class="caret"></b></a>

                    <ul class="dropdown-menu">

                        <li><a href="#">New Post</a></li>

                        <li><a href="#">My Posts</a></li>

                        <li><a href="#">Subscribed Threads</a></li>

                        <li><a href="#">Invite A Friend</a></li>

                    </ul>

                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right" id="navbarRight">

                <li id="loginButton"><a href="login.html">Login | Sign Up</a></li>

                <li class="dropdown" id="userInfoNav"><a style="padding-top:11px; padding-bottom:0px; font-weight: 700; " id="userDisplayDropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><label style="margin-right:6px;" id="emailDisplay"></label><img style="vertical-align: middle;" src="" id="profilePic" class="img-circle" width="30px" height="30px"/><b class="caret"></b></a><ul class="dropdown-menu"><li><a href="#">My Saved Itineraries</a></li><li><a href="#">"The Perfect Itinerary" Quiz</a></li><li><a href="#">Random Itinerary Generator</a></li><li><a href="#">Account Settings</a></li><li><a onclick="signOut()" href="#">Sign Out</a></li></ul></li>

            </ul>




        </div>


    </nav>



  </header>


  <div class="container-fluid">
      <div id="firstSlider" class="carousel slide">

              <!-- Indicators dot nav -->

              <ol class = "carousel-indicators">
                  <li data-target="#firstSlider" data-slide-to="0" class="active"></li>
                  <li data-target="#firstSlider" data-slide-to="1"></li>
                  <li data-target="#firstSlider" data-slide-to="2"></li>
                  <li data-target="#firstSlider" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">

                  <div class="item active">
                      <img src="../../static/triptop/img/Carousel1_1.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Planning A Trip</h1>
                          <h1>Has Never Been Easier</h1>
                          <button onclick="scrollToFlights();" id="triptime1" class="btn-lg btn-primary">Get Started</button>
                      </div>
                  </div>

                  <div class="item">
                      <img src="../../static/triptop/img/Carousel1_2.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Start Building Your</h1>
                          <h1>Perfect Itinerary</h1>
                          <a href="itinBuilder.html"><button id="triptime2"><span id="carouselcaret" class="glyphicon glyphicon-chevron-down"></span></button></a>
                      </div>
                  </div>

                  <div class="item">
                      <img src="../../static/triptop/img/Carousel1_3.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Sign Up Now With Google</h1>
                          <h1>To Save And Share Your Itineraries</h1>
                          <a href="login.html"><button type="button" class="btn-lg btn-primary">Create A TripTop Account</button></a>
                      </div>
                  </div>

                  <div class="item">
                      <img src="../../static/triptop/img/Carousel1_4.png" alt="TripTop Travel" class="img-responsive"/>
                      <div class="carousel-caption">
                          <h1>Take Our "Perfect Itinerary" Quiz!</h1>
                          <button class="btn-lg btn-primary">Take The Quiz!</button>
                      </div>
                  </div>


              </div>


              <!-- Navigation (next and prev buttons) -->

              <a class="carousel-control left" href="#firstSlider" role="button" data-slide="prev">
                <span class="icon-prev"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control right" href="#firstSlider" role="button" data-slide="next">
                <span class="icon-next"></span>
                <span class="sr-only">Next</span>
              </a>



          </div>






  </div>
  <div style="background-color: #333333; max-height: 4em;" class="container-fluid" id="downForFlights"><h2 style="font-family: Helvetica Neue; font-size: 3em; color: #ffffff;" class="text-center"><span id="carouselcaret" class="glyphicon glyphicon-chevron-down"></span></h2></div>



      <main>

      <section class="module parallax parallax-1">
        <div class="container">
          <h1>Venture</h1>
        </div>
      </section>

      <div style="background-color: #53A3CD;" class="container-fluid" id="straightToItin"><h2 style="font-family: Helvetica Neue; font-size: 3em; color: #ffffff;" class="text-center">Already have travel accomodations? <a style="color: #333;" href="itinBuilder.html">Start building your itinerary!</a></h2></div>

      <section style="background-color: #ddd;;" id="scrollToFlights" class="module content">
        <div class="container">
            <div  style="border: 2px #000 solid; border-bottom: 0; background-color:#333; color:#f5f5f5;" class="container">
                <h2 style="margin-bottom: .2em;" class="text-center">Pick A Flight</h2>
                <p style="margin-bottom: .2em;" class="text-center">Start your personalized itinerary with the right flight, courtesy of <a href="https://www.google.com/flights/">Google Flights</a>.</p>
            </div>


            <form style="border: 2px #333 solid; background-color: #f5f5f5; border-bottom: 0; padding: 2em;" onsubmit="getAirports(event); return false;" method="POST" id="airportDetailsForm">

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control" placeholder="Where From?" type="text" id="inputOrigin1" />
                                    <div class="form-group-lg">
                                        <select title="inputOrigin2" class="form-control" id="inputOrigin2">
                                           <option value="None" selected="Selected">Where From?</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" placeholder="Where To?" type="text" id="inputDestination1" />
                                    <div class="form-group-lg">
                                        <select title="inputDestination2" class="form-control" id="inputDestination2">
                                          <option value="None" selected="Selected">Where To?</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <input class="btn btn-primary" type="submit" value="Get Airports">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>

            <form style="border: 2px #333 solid; background-color: #f5f5f5; border-top: 0;" onSubmit="getFlights(event); return false;" data-target="#flightsModal" method="POST" id="flightDetailsForm">
            <div class="table-responsive">

                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-center" style="vertical-align: middle;">
                                <label class="radio-inline"><input id="Roundtrip" onClick="roundtripEvent(event);" type="radio" name="optradio" value="Roundtrip" checked="checked">Roundtrip</label>
                                <label class="radio-inline"><input id="OneWay" onClick="onewayEvent(event);" type="radio" name="optradio" value="One Way">One Way</label>
                            </td>

                            <td>
                                <input class="form-control" type="date" name="depdate" id="depdate" placeholder="When Will You Depart?"/>
                            </td>
                            <td>
                                <input class="form-control" type="date" name="retdate" id="retdate" placeholder="When Will You Return?"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group-lg">
                                  <select title="Number of Adults" class="form-control" id="sel1">
                                      <option class="active">Number of Adults</option>
                                      <option>0</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                  </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group-lg">
                                  <select title="Number of Children"  class="form-control" id="sel2">
                                      <option class="active">Number of Children</option>
                                      <option>0</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                  </select>
                                </div>
                            </td>
                            <td>
                                <button type="submit" id="findFlights" class="btn btn-primary btn-block" data-target="#flightsModal" data-toggle="modal">Get Flights</button>
                                <!--<input class="btn btn-primary btn-info" id="findFlights" onClick="getFlights(event); return false;" type="submit" value="Get Flights" data-target="#flightsModal" data-toggle="modal" />-->
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
            </form>
        </div>









                    <div class="modal" id="flightsModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-center">Click "Add To Itinerary" and Start Building Your Itinerary With Your Flight Choices Included!</h4>
                            </div>
                            <div class="modal-body">


                                    <div class="table-responsive">
                                    <table id="flightsTable" class="table">
                                    <thead>
                                        <tr id="labelrow">
                                            <th >
                                                <label>      </label>
                                            </th>
                                            <th >
                                                <label>Price</label>
                                            </th>
                                            <th >
                                                <label>Airline</label>
                                            </th>

                                            <th>
                                                <label>Start-End</label>
                                            </th>

                                            <th>
                                                <label>Departure Time</label>
                                            </th>

                                            <th>
                                                <label>Arrival Time</label>
                                            </th>

                                            <th>
                                                <label>Date</label>
                                            </th>

                                            <th>
                                                <label>Duration</label>
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody id="flights">

                                    <!--Insert flight rows here-->

                                    </tbody>
                                    </table>
                                </div>
                              </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>


      </section>


                                        <!--<tr id="flight1" class="modal">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" onclick="goToItinPage(event); return false;" id="flight1price"></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight1airline"></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight1dates"></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight1duration"></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight1stops"></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight2" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight2price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight2airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight2dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight2duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight2stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight3" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight3price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight3airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight3dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight3duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight3stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight4" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight4price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight4airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight4dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight4duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight4stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight5" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight5price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight5airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight5dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight5duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight5stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight6" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight6price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight6airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight6dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight6duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight6stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight7" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight7price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight7airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight7dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight7duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight7stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight8" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight8price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight8airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight8dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight8duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight8stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight9" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight9price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight9airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight9dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight9duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight9stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight10" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight10price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight10airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight10dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight10duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight10stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight11" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight11price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight11airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight11dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight11duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight11stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight12" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight12price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight12airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight12dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight12duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight12stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight13" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight13price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight13airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight13dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight13duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight13stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight14" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight14price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight14airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight14dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight14duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight14stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr id="flight15" class="model">-->
                                            <!--<td>-->
                                                <!--<a href="itinBuilder.html" action="" id="flight15price pricetag" value=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight15airline" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight15dates" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight15duration" value=""></label>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<label id="flight15stops" value=""></label>-->
                                            <!--</td>-->
                                        <!--</tr>-->




      <section class="module parallax parallax-2">
        <div class="container">
          <h1>Travel</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta cum distinctio eum asperiores rem enim fugit eaque voluptas est laboriosam in repudiandae architecto placeat, illum atque quasi explicabo, culpa, molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas, aperiam quae provident, recusandae rem quis. Ut quaerat, quasi iste voluptate et dolorem atque sed neque voluptates, molestias dolor enim!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odit tempore, quibusdam impedit deserunt. Natus quisquam, facilis numquam, molestias nesciunt modi, at debitis maxime sunt et quo quas labore perferendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde delectus laborum doloremque recusandae, debitis maxime a! Nihil distinctio ex, cumque tempore ea voluptas omnis odit, quaerat natus nam excepturi corporis!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eius harum atque unde nihil aut quam provident sunt, iste error vitae suscipit dolores cupiditate totam, eum quae alias! Dicta, nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate beatae impedit officia quis odit rerum sequi, explicabo commodi illum suscipit, tempore eum doloremque quae obcaecati tempora quidem neque sapiente modi?</p>
        </div>
      </section>

      <section class="module parallax parallax-3">
        <div class="container">
          <h1>Journey</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta cum distinctio eum asperiores rem enim fugit eaque voluptas est laboriosam in repudiandae architecto placeat, illum atque quasi explicabo, culpa, molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptas, aperiam quae provident, recusandae rem quis. Ut quaerat, quasi iste voluptate et dolorem atque sed neque voluptates, molestias dolor enim!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odit tempore, quibusdam impedit deserunt. Natus quisquam, facilis numquam, molestias nesciunt modi, at debitis maxime sunt et quo quas labore perferendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde delectus laborum doloremque recusandae, debitis maxime a! Nihil distinctio ex, cumque tempore ea voluptas omnis odit, quaerat natus nam excepturi corporis!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eius harum atque unde nihil aut quam provident sunt, iste error vitae suscipit dolores cupiditate totam, eum quae alias! Dicta, nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate beatae impedit officia quis odit rerum sequi, explicabo commodi illum suscipit, tempore eum doloremque quae obcaecati tempora quidem neque sapiente modi?</p>
        </div>
      </section>

      <section class="module parallax parallax-4">
        <div class="container">
          <h1>Wander</h1>
        </div>
      </section>


  </main>


      <img src="../../static/triptop/img/Preloader_3.gif" id="loading-indicator" style="display:none" />

      <!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="title mb-4 mt-3 font-bold">Team TripTop is happy you're here!</h5>
                <p>Please create an account so that we can share updates, special offers, and more with you!<br/><br/><br/>Happy Travels!</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Links</h5>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold ">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <ul>
            <li>
                <h5 class="mb-1">Learn More About TripTop!</h5>
            </li>
            <li><a href="" class="btn btn-primary btn-rounded">Our Story</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
    <div class="social-section text-center">
        <ul>

            <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>

        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://mytriptop.com"> mytriptop.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer><!--/.Footer-->

  <script type="text/javascript">

          $(document).ready(function(){

              $('.navbar').css({'margin-bottom':'0px','background' : '#333','border-color':'#000'});

              $('footer.page-footer').css({'margin-top':'0px'});

              $('.container-fluid').css({'padding-right':'0px','padding-left':'0px'});

          });

        $(document).ajaxSend(function(event, request, settings) {
            $('#loading-indicator').show();
        });

        $(document).ajaxComplete(function(event, request, settings) {
            $('#loading-indicator').hide();
        });

        $('.body').css({'padding-right':'0px'});


      </script>










  <!--Javascript for Datepicker-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

  <!--Login JQuery and GOOGLE API-->
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="../../static/triptop/js/jquerysession.js"></script>
    <script type="text/javascript" src="../../static/triptop/js/login.js"></script>



</html>