<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TripTop | Login/Signup</title>


	<script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase-auth.js"></script>

        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyDCFN_ovUTjF0k89Lcmzw1z43s1wyNtTFg",
			authDomain: "triptop-senior-project-2017.firebaseapp.com",
			databaseURL: "https://triptop-senior-project-2017.firebaseio.com",
			projectId: "triptop-senior-project-2017",
			storageBucket: "triptop-senior-project-2017.appspot.com",
			messagingSenderId: "585874782780"
          };
          firebase.initializeApp(config);
        </script>

	<!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Footer Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">


	<script type="text/javascript" src="../../static/triptop/js/jquery.js"></script>
	<script type="text/javascript" src="../../static/triptop/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/triptop/js/bootstrap-select.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../../static/triptop/css/login.css">



	<!-- Main CSS and JS Files -->
    <link href="../../static/triptop/css/preloader.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">








</head>
  <header>
      <nav class="navbar navbar-inverse">

        <div class="navbar-header">

            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">

                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>

            <a href="#"><img class="navbar-brand" id="currentPhoto" src="../../static/triptop/img/TripTopLogo.png" width="170.25em" height="36.75em"></a>

        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">

                <li class="active"><a href="/">Home</a></li>

                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">About<b class="caret"></b></a>

                    <ul class="dropdown-menu">

                        <li><a href="#">About TripTop</a></li>

                        <li><a href="#">Our Team</a></li>

                        <li><a href="#">Contact Us</a></li>

                    </ul>

                </li>

                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Forum <b class="caret"></b></a>

                    <ul class="dropdown-menu">

                        <li><a href="#">New Post</a></li>

                        <li><a href="#">My Posts</a></li>

                        <li><a href="#">Subscribed Threads</a></li>

                        <li><a href="#">Invite A Friend</a></li>

                    </ul>

                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a href="#">Login</a></li>

                <li><a href="#">Sign Up</a></li>

                <li class="dropdown">

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">My Profile<b class="caret"></b></a>

                        <ul class="dropdown-menu">

                            <li><a href="#">My Saved Itineraries</a></li>

                            <li><a href="#">"The Perfect Itinerary" Quiz</a></li>

                            <li><a href="#">Custom Itinerary Generator</a></li>

                            <li><a href="#">Account Settings</a></li>

                            <li><a href="#">Sign Out</a></li>

                        </ul>

                </li>

            </ul>




        </div>


          <script>

                $('.navbar').css({'margin-bottom':'0px','background' : '#333','border-color':'#000'});

			  	$('.body').css({'padding-top':'!important'});
          </script>

    </nav>



  </header>
<body>
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Sign Up</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="email" id="email1" tabindex="1" class="form-control" placeholder=" Email" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password1" tabindex="2" class="form-control" placeholder=" Password">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder=" Username" value="">
									</div>
									<div class="form-group">
										<input type="text" name="firstname" id="firstname" tabindex="1" class="form-control" placeholder=" First name" value="">
									</div>
									<div class="form-group">
										<input type="text" name="lastname" id="lastname" tabindex="1" class="form-control" placeholder=" Last name" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder=" Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="1" class="form-control" placeholder=" Password" value="">
									</div>
									<div class="form-group">
										<input type="password" name="repeatpassword" id="repeatpassword" tabindex="1" class="form-control" placeholder=" Repeat Password" value="">
										<span id="confirmpasserror">Passwords do not match.</span>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Sign Up Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>

	$(function() {

	    $('#confirmpasserror').hide();

	    $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

	    var x = document.getElementById("#register-form");

        var authenticationData = {
            username: x.element[0].value.toString(), // username here
			firstName: x.element[1].value.toString(), // user first name here
			lastName: x.element[2].value.toString(), // user last name here
            email: x.element[3].value.toString(), // your email here
            password: x.element[4].value.toString(), // your password here
			repeatPassword: x.element[5].value.toString() // your password repeat here
        };


	var y = document.getElementById("#login-form");

	var loginData = {
		email: y.element[0].value.toString(), //email input here
		password: y.element[1].value.toString() //password input here
	};


	$('#register-submit').click(function() {

        if((authenticationData.password == authenticationData.repeatPassword) && (authenticationData.password.getLength() > 8))
		{
		firebase.auth().createUserWithEmailAndPassword(authenticationData.email, authenticationData.password).catch(function(error) {
  		// Handle Errors here.
  		var errorCode = error.code;
  		var errorMessage = error.message;

  		if (errorCode === 'auth/weak-password') {
			alert('The password is too weak.');
		} else {
			alert(errorMessage);
		}
		if (errorCode === 'auth/email-already-in-use') {
			alert('The email is already in use.');
		} else {
			alert(errorMessage);
		}
		if (errorCode === 'auth/invalid-email') {
			alert('The email is not valid.');
		} else {
			alert(errorMessage);
		}


		});

		} else {

            $('#confirmpasserror').show();
            alert('The passwords do not match.');

		}




    });

	$('#login-submit').click(function() {


	    firebase.auth().signInWithEmailAndPassword(loginData.email, loginData.password).catch(function(error) {
		  // Handle Errors here.
		  var errorCode = error.code;
		  var errorMessage = error.message;
		  if (errorCode === 'auth/wrong-password') {
		  	alert('Wrong password.');
		  } else {
    		alert(errorMessage);
		  }
		  if (errorCode === 'auth/user-not-found') {
		  	alert('Sorry. User not found.');
		  } else {
    		alert(errorMessage);
		  }
		  if (errorCode === 'auth/invalid-email') {
		  	alert('That email is not valid.');
		  } else {
    		alert(errorMessage);
		  }

		});



	});



    });



</script>
</body>
</html>