#itinContainer {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    z-index: -1;
}

.container {
    /*margin: 0%, 5%, 0%, 5%;*/
   /* overflow-y: hidden;*/
    /*width:*/
}



body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

.sidenav {

    height: 100%;
    width: 40%;
    float: right;
    position: static;
    z-index: -1;
    top: 0;
    right: 0;
    /*background-color: white;*/
    /*background-image: url("../img/sunrise.png");*/
    overflow-x: hidden;
    overflow: hidden;
   /* padding-top: 20px;*/
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-left: 20%;
}

.sidenav h1 {
    margin-left: 12%;

}

.sidenav h2 {
    margin-left: 17%;
}

.sidenav_header {
    position: absolute;
    float: top;
    width:100%;
    /*height: 154px;*/
    height: 99px;
    /*background-color: white;*/
    background-image: url("../img/sunrise3.png");
}

.sidenav_body {
   /* margin-top: 20%;*/
    /*margin-bottom: 10%;*/
    background-color: white;
    padding: 30% 0px 10px 5%;
    /*overflow-y: scroll;*/
    padding-top: 154px;

}

.sidenav_body .inner {

    height:100%;
    overflow-y: scroll;

}

.sidenav_body .inner .scroller {
    height: 555px;

}

.sidenav .img {
    float: right;
}

.main {
    margin-left: 0px;
    float: left;
    position: static;
    height: 100%;
    width: 60%;
    background-color: white;
    border: 1px solid black;
    /*overflow-y: scroll;*/

}

.main_header {}

.main_header .inner {}

#open_sidenav {
    position: relative;
    /*top:94px;*/
    top: -75px;

    /*margin-left: 566px;*/
    /*left: 56.5%*/
}

.main_body {}

.main_body .inner {
    height:100%;
    width: 100%;
    overflow-y: scroll;

}

.main_body .inner .scroller {
    height: 580px;
}

.main h1 {
    margin-left: 1%;
    font-size: 50px;
    color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.displayinfo {
    width: 100%;
    margin-left: 0;
    border: 3px;
    padding: 5px;
    margin-bottom: 10px;
}

div.schedule {
    width: 400px;
    margin-left: 30%;
    border: 3px;
    padding: 5px;
    margin-bottom: 10px;
}

#myDIV {

    /*margin-bottom: 10px;*/
    margin-bottom:5px;
    background-color: white;

}


table, th, tr, td {
    border: 1px solid black;
}




#itinBuilder {
    margin-bottom: 0%;
    background-color: white;
    /*padding-bottom: 10px;*/
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    background-image: url('../img/LogoThumbnail.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    /*padding: 14px 20px 12px 45px;*/
    border: none;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    top: -60px;

}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 150px;
    overflow: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown1-content a {
    color: black;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1 a:hover {background-color: #ddd}

.show {display:block;}


